<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Homework: Intro to Pandas

_Author: Kevin Coyle (L.A.)_

---

Welcome!

#### Pandas: Intro Practice Problems

In this homework, you're going to write code for a few problems. 

You'll be practicing these programming concepts we've covered in class:
* Reading data sets into Pandas.
* Filtering, manipulating, and sorting data sets.
* Basic exploratory data analysis with Pandas.

#### #1. Import Pandas with an alias of `pd`.

In [2]:
import pandas as pd

#### #2. Read in the NBA players `csv` into a variable called `nba_df`.

This is a data set of NBA players from 2015. The filename is `NBA_players_2015.csv`.

In [21]:
nba_df = pd.read_csv("/Users/laurenmengert/Downloads/hw-10wk-12d/NBA_players_2015.csv")

#I had to open my terminal and drag and drop the nba file to get the directory path to the csv 
#file. Is there an easier way to do this?

#### #3. Look at the first five rows of the data set.

In [22]:
nba_df.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,Quincy Acy,F,24,NYK,52,21,19.2,2.2,4.6,...,15.1,14.7,0.6,0.5,1.0,0.050,-2.6,-0.7,-3.4,-0.3
1,2015,Jordan Adams,G,20,MEM,18,0,7.3,1.0,2.1,...,15.9,17.7,0.0,0.2,0.2,0.076,-2.3,1.8,-0.5,0.0
2,2015,Steven Adams,C,21,OKC,51,50,24.2,3.0,5.5,...,19.2,14.8,1.0,1.8,2.8,0.109,-2.0,2.0,-0.1,0.6
3,2015,Jeff Adrien,F,28,MIN,17,0,12.6,1.1,2.6,...,12.9,14.1,0.2,0.2,0.4,0.093,-2.6,0.8,-1.8,0.0
4,2015,Arron Afflalo,G,29,TOT,60,54,32.5,5.0,11.8,...,10.9,19.6,1.4,0.7,2.1,0.051,-0.2,-1.4,-1.6,0.2

#### #4. Check out the shape of the data set.

In [23]:
nba_df.shape

(478, 49)

#### #5. Run some summary stats on the data set with the `describe()` function.

In [26]:
nba_df.describe()

,season_end,age,g,gs,mp,fg,fga,fg_,x3p,x3pa,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
count,478.0,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,...,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000
mean,2015.0,26.573222,42.104603,19.874477,20.045607,3.018201,6.847699,0.429230,0.630544,1.855649,...,13.424268,18.915272,1.055858,0.971339,2.027197,0.073575,-1.396862,-0.495816,-1.892678,0.485983
std,0.0,4.219585,18.950602,22.170034,9.313441,2.052790,4.386828,0.111007,0.665808,1.790564,...,6.559989,5.493491,1.589667,0.876932,2.243138,0.133530,4.251216,2.299572,5.116001,1.013097
min,2015.0,19.000000,1.000000,0.000000,0.700000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-2.100000,-0.100000,-0.800000,-1.059000,-36.800000,-13.500000,-50.300000,-1.000000
25%,2015.0,23.000000,27.000000,0.000000,12.600000,1.425000,3.400000,0.391000,0.000000,0.100000,...,10.000000,14.800000,0.000000,0.200000,0.300000,0.040250,-2.800000,-1.600000,-3.300000,-0.100000
50%,2015.0,26.000000,47.000000,10.500000,19.850000,2.700000,5.900000,0.432000,0.450000,1.400000,...,12.900000,18.400000,0.600000,0.800000,1.400000,0.082500,-1.000000,-0.500000,-1.300000,0.100000
75%,2015.0,29.000000,59.000000,39.000000,28.175000,4.275000,9.600000,0.481750,1.000000,3.075000,...,15.900000,21.900000,1.600000,1.500000,3.000000,0.123000,0.500000,0.875000,0.500000,0.700000
max,2015.0,38.000000,66.000000,66.000000,38.900000,9.500000,21.400000,1.000000,3.400000,8.000000,...,100.000000,45.900000,9.500000,4.300000,13.000000,1.489000,28.300000,6.500000,15.100000,6.200000

#### #6. Sort the data set in on the `players` column in alphabetical order.

In [27]:
pd.Series(nba_df['player'].unique()).sort_values(ascending=True)

359           A.J. Price
60          Aaron Brooks
166         Aaron Gordon
348        Adreian Payne
212           Al Horford
225         Al Jefferson
11       Al-Farouq Aminu
14         Alan Anderson
68            Alec Burks
252            Alex Kirk
267             Alex Len
394         Alexey Shved
5          Alexis Ajinca
99          Allen Crabbe
160           Alonzo Gee
413    Amar'e Stoudemire
232         Amir Johnson
439     Anderson Varejao
112        Andre Dawkins
127       Andre Drummond
217       Andre Iguodala
305         Andre Miller
372       Andre Roberson
30       Andrea Bargnani
251     Andrei Kirilenko
52          Andrew Bogut
329     Andrew Nicholson
458       Andrew Wiggins
44       Anthony Bennett
109        Anthony Davis
             ...
452          Travis Wear
21          Trevor Ariza
54         Trevor Booker
67            Trey Burke
429     Tristan Thompson
106         Troy Daniels
262            Ty Lawson
136          Tyler Ennis
185     Tyler Hansbrough
237        Tyler Johnson
477         Tyler Zeller
139         Tyreke Evans
425         Tyrus Thomas
83        Tyson Chandler
193        Udonis Haslem
89         Victor Claver
338       Victor Oladipo
79          Vince Carter
133      Wayne Ellington
238       Wesley Johnson
288      Wesley Matthews
34           Will Barton
85           Will Cherry
179         Willie Green
84       Wilson Chandler
199         Xavier Henry
261          Zach LaVine
366        Zach Randolph
340        Zaza Pachulia
125         Zoran Dragic
Length: 478, dtype: object

#### #7. Filter the data set. Create three sub DataFrames from the `position` column for `G`, `F`, and `C`.

#### #8.  Run `describe()` on these new DataFrames. Compare the mean field goals (the `fg` column) between positions.

The end!

#### Great job!